:root {
	--color-dark01: #ffffff;
	--color-dark02: #d6d9db;
	--color-dark03: #aeb4b8;
	--color-dark04: #868f95;
	--color-dark05: #5e6a72;
	--color-dark06: #36454f;
	--color-dark07: #2b373f;
	--color-dark08: #20292f;
	--color-dark09: #151b1f;
	--color-dark10: #0a0d0f;
	--color-dark11: #000000;

	--color-color01: #ceeaf1;
	--color-color02: #9ed5e3;
	--color-color03: #6dc1d5;
	--color-color04: #3dacc7;
	--color-color05: #0d98ba;
	--color-color06: #0a7994;
	--color-color07: #075b6f;
	--color-color08: #053c4a;
	--color-color09: #021e25;

	--color-income01: #ccf2d8;
	--color-income02: #9ae5b1;
	--color-income03: #67d98a;
	--color-income04: #35cc62;
	--color-income05: #03c03c;
	--color-income06: #029930;
	--color-income07: #017324;
	--color-income08: #014c18;
	--color-income09: #00260c;

	--color-expense01: #f9d3d6;
	--color-expense02: #f3a8ae;
	--color-expense03: #ee7c86;
	--color-expense04: #e8515e;
	--color-expense05: #e32636;
	--color-expense06: #b51e2b;
	--color-expense07: #881620;
	--color-expense08: #5a0f15;
	--color-expense09: #2d070a;
}

.wrapper {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	margin-top: 2em;
	background-color: var(--color-dark10);
	border: 0.04em solid var(--color-dark05);
	box-shadow: 0.6em 0.6em 0.6em var(--color-dark10);
}

.heading {
	width: 100%;
	text-align: center;
	color: var(--color-dark02);
	font-weight: 200;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 0.04em dotted var(--color-dark06);
}

.box_deal {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.box_income,
.box_expense {
	width: 100%;
	height: 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em 1em 2em 1em;
	background-color: var(--color-dark11);
	border: 0.04em solid var(--color-dark08);
}

.heading_income {
	color: var(--color-income05);
	font-weight: 500;
	letter-spacing: 0.2em;
	padding-bottom: 0.2em;
	font-size: 1em;
	border-bottom: 0.04em solid var(--color-income05);
}

.heading_expense {
	color: var(--color-expense05);
	font-weight: 500;
	letter-spacing: 0.2em;
	padding-bottom: 0.2em;
	font-size: 1em;
	border-bottom: 0.04em solid var(--color-expense05);
}

.deal_list {
	width: 100%;
	height: 85%;
	padding: 0.6em 0em;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.list {
	color: var(--color-color02);
}

.box_sum {
	width: 100%;
	padding: 0.2em 0em 0em 0em;
	display: flex;
	justify-content: flex-end;
	border-top: 0.2em solid var(--color-dark06);
}

.text_sum {
	color: var(--color-dark04);
	font-weight: 200;
}

.sum_income {
	color: var(--color-income05);
	font-weight: 400;
}

.sum_expense {
	color: var(--color-expense05);
	font-weight: 400;
}

@media (min-width: 1200px) {
	.wrapper {
		width: 70%;
		height: 400px;
	}

	.heading {
		margin-bottom: 0em;
	}

	.box_deal {
		display: flex;
		flex-direction: row;
	}

	.box_income,
	.box_expense {
		width: 48%;
		height: 85%;
		background-color: var(--color-dark10);
	}
}
