:root {
	--color-dark01: #ffffff;
	--color-dark02: #d6d9db;
	--color-dark03: #aeb4b8;
	--color-dark04: #868f95;
	--color-dark05: #5e6a72;
	--color-dark06: #36454f;
	--color-dark07: #2b373f;
	--color-dark08: #20292f;
	--color-dark09: #151b1f;
	--color-dark10: #0a0d0f;
	--color-dark11: #000000;

	--color-color01: #ceeaf1;
	--color-color02: #9ed5e3;
	--color-color03: #6dc1d5;
	--color-color04: #3dacc7;
	--color-color05: #0d98ba;
	--color-color06: #0a7994;
	--color-color07: #075b6f;
	--color-color08: #053c4a;
	--color-color09: #021e25;

	--color-error: #e32636;
}

.wrapper {
	width: 90%;
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	margin-bottom: 1em;
}

.heading {
	color: var(--color-color01);
}

.text {
	color: var(--color-color03);
}

.box_img {
	width: 100%;
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em 0em;
}

.btn_ball {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	height: 90%;
	object-fit: cover;
	transform: translateX(-18%);
	cursor: pointer;
}

.img_action {
	width: 50%;
	object-fit: cover;
	transform: translateX(-18%);
	cursor: pointer;
	animation: ball_action 1s 1;
}

@keyframes ball_action {
	0% {
		transform: translateX(-22%);
	}

	20% {
		transform: translateX(-12%);
	}

	40% {
		transform: translateX(-22%);
	}

	60% {
		transform: translateX(-12%);
	}

	80% {
		transform: translateX(-22%);
	}

	100% {
		transform: translateX(-18%);
	}
}

.box_inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.label {
	width: 100%;
	text-align: left;
	color: var(--color-color05);
	padding-bottom: 0.4em;
}

.input {
	width: 100%;
	padding: 0.4em 0em;
}

.box_error_info {
	width: 100%;
	padding: 0.2em 0em;
	color: var(--color-color03);
	display: flex;
	justify-content: space-between;
}

@media (min-width: 1200px) {
	.wrapper {
		width: 90%;
		height: 520px;
	}

	.heading {
		font-size: 3em;
	}

	.text {
		font-size: 1.4em;
	}

	.box_img {
		width: 100%;
		height: 100px;
	}

	.img {
		width: 12%;
	}
}
