:root {
	--color-dark01: #ffffff;
	--color-dark02: #d6d9db;
	--color-dark03: #aeb4b8;
	--color-dark04: #868f95;
	--color-dark05: #5e6a72;
	--color-dark06: #36454f;
	--color-dark07: #2b373f;
	--color-dark08: #20292f;
	--color-dark09: #151b1f;
	--color-dark10: #0a0d0f;
	--color-dark11: #000000;

	--color-color01: #ceeaf1;
	--color-color02: #9ed5e3;
	--color-color03: #6dc1d5;
	--color-color04: #3dacc7;
	--color-color05: #0d98ba;
	--color-color06: #0a7994;
	--color-color07: #075b6f;
	--color-color08: #053c4a;
	--color-color09: #021e25;

	--color-error: #e32636;
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.box_card {
	position: relative;
	width: 70%;
	height: 400px;
	border-radius: 20px;
	perspective: 800px;
}

.card_front {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	transform: rotateY(0deg);
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s, all 1s ease-in-out;
}

.card_front_action {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	transform: rotateY(360deg);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, all 1s ease-in-out;
}

.img_front {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow_front {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.heading_front {
	color: var(--color-color02);
	z-index: 1;
}

.img_front_icon {
	width: 50%;
	object-fit: cover;
	z-index: 1;
}

.btn_front {
	width: 100%;
	padding: 0.4em;
	color: var(--color-color02);
	background-color: var(--color-dark10);
	border: 0.04em solid var(--color-dark06);
	border-radius: 6px;
	z-index: 1;
	cursor: pointer;
}

.card_back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	transform: rotateY(-360deg);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s, all 1s ease-in-out;
}

.card_bback_action {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	overflow: hidden;
	transform: rotateY(0deg);
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s, all 1s ease-in-out;
}

.img_back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow_back {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.heading_back {
	color: var(--color-color02);
	z-index: 1;
}

.text_back {
	color: var(--color-color02);
	z-index: 1;
	text-align: center;
}

.btn_back {
	width: 100%;
	padding: 0.4em;
	color: var(--color-color02);
	background-color: var(--color-dark10);
	border: 0.04em solid var(--color-dark06);
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}

@media (min-width: 1200px) {
	.box_card {
		width: 25%;
		height: 600px;
	}

	.heading_front,
	.heading_back {
		font-size: 3.2em;
	}

	.text_back {
		font-size: 2em;
	}

	.btn_front,
	.btn_back {
		padding: 0.6em;
		font-size: 1.2em;
	}

	.btn_front:hover {
		background-color: var(--color-dark11);
	}

	.btn_back:hover {
		background-color: var(--color-dark11);
	}
}
