:root {
	--color-dark01: #ffffff;
	--color-dark02: #d6d9db;
	--color-dark03: #aeb4b8;
	--color-dark04: #868f95;
	--color-dark05: #5e6a72;
	--color-dark06: #36454f;
	--color-dark07: #2b373f;
	--color-dark08: #20292f;
	--color-dark09: #151b1f;
	--color-dark10: #0a0d0f;
	--color-dark11: #000000;

	--color-color01: #ceeaf1;
	--color-color02: #9ed5e3;
	--color-color03: #6dc1d5;
	--color-color04: #3dacc7;
	--color-color05: #0d98ba;
	--color-color06: #0a7994;
	--color-color07: #075b6f;
	--color-color08: #053c4a;
	--color-color09: #021e25;

	--color-error: #e32636;
}

.wrapper {
	width: 90%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-dark10);
	padding: 2em;
	margin-bottom: 2em;
	border: 0.04em solid var(--color-dark06);
	box-shadow: 0.4em 0.4em 1em var(--color-dark11);
}

.heading {
	width: 100%;
	text-align: center;
	color: var(--color-color04);
	padding-bottom: 0.4em;
	border-bottom: 0.04em solid var(--color-color08);
}

.form {
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.box_inputs {
	width: 100%;
	padding: 0.4em 0em;
	display: flex;
	flex-direction: column;
}

.label {
	color: var(--color-color04);
	padding-bottom: 0.4em;
}

.info_textarea {
	width: 100%;
	padding: 0.4em 0em;
	display: flex;
	justify-content: space-between;
}

.label_textarea,
.marks_textarea {
	color: var(--color-color04);
}

.input {
	width: 100%;
	padding: 0.4em 0.2em;
	background: none;
	border: none;
	border-bottom: 0.04em solid var(--color-color06);
	color: var(--color-color02);
	font-size: 1.2em;
	outline: none;
}

.input_date {
	width: 50%;
	padding: 0.4em;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-color06);
	color: var(--color-color02);
}

.textarea {
	width: 100%;
	min-height: 140px;
	max-height: 140px;
	background: none;
	border: 0.04em solid var(--color-color06);
	color: var(--color-color02);
	font-size: 1.2em;
	padding: 0.2em;
	outline: none;
}

.error {
	width: 100%;
	height: 10px;
	padding: 0.4em 0em;
	color: var(--color-error);
}

.select {
	width: 50%;
	background: none;
	padding: 0.4em 0.1em;
	border: 0.04em solid var(--color-color06);
	color: var(--color-color02);
	outline: none;
}

.option {
	background-color: var(--color-dark11);
}

.btn {
	width: 100%;
	padding: 0.4em;
	background: none;
	border: 0.04em solid var(--color-color06);
	color: var(--color-color02);
	margin-top: 0.4em;
}

@media (min-width: 1200px) {
	.wrapper {
		width: 30%;
		height: 780px;
	}

	.btn {
		padding: 0.8em;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.btn:hover {
		background-color: var(--color-dark11);
	}
}
