:root {
	--color-dark01: #ffffff;
	--color-dark02: #d6d9db;
	--color-dark03: #aeb4b8;
	--color-dark04: #868f95;
	--color-dark05: #5e6a72;
	--color-dark06: #36454f;
	--color-dark07: #2b373f;
	--color-dark08: #20292f;
	--color-dark09: #151b1f;
	--color-dark10: #0a0d0f;
	--color-dark11: #000000;

	--color-color: #ceeaf1;
	--color-color: #9ed5e3;
	--color-color: #6dc1d5;
	--color-color: #3dacc7;
	--color-color: #0d98ba;
	--color-color: #0a7994;
	--color-color: #075b6f;
	--color-color: #053c4a;
	--color-color: #021e25;

	--color-error: #e32636;
}

.nav_container {
	position: relative;
	background: none;
	z-index: 10;
}

.btn {
	position: fixed;
	width: 40px;
	height: 40px;
	top: 3%;
	right: 5%;
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 10;
	cursor: pointer;
	visibility: visible;
	background: none;
	border: 0.04em solid var(--color-dark05);
}

.line {
	width: 0%;
	height: 2px;
	background-color: var(--color-dark05);
}

.line:nth-child(1) {
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.line:nth-child(2) {
	width: 75%;
	transition: all 0.3s ease-in-out;
}

.line:nth-child(3) {
	width: 50%;
	transition: all 0.3s ease-in-out;
}

.btn:hover .line {
	width: 100%;
}

.nav {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	background-color: var(--color-dark10);
	transform: translateX(0%);
	transition: all 0.3s ease-in-out;
}

.no_nav {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	background-color: var(--color-dark10);
	transform: translateX(100%);
	transition: all 0.3s ease-in-out;
}

.nav_links {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--color-dark02);
	padding: 0.6em 0em;
	font-size: 1.2em;
}

@media (min-width: 1200px) {
	.btn {
		visibility: hidden;
	}

	.nav,
	.no_nav {
		width: 100%;
		height: 40px;
		padding: 2em 0em;
		transform: translateX(0%);
		border-bottom: 0.04em solid var(--color-dark04);
		box-shadow: 0em 0em 2em var(--color-dark11);
	}

	.nav_links {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	a {
		margin: 0em 1em;
		font-size: 1.4em;
	}
}
